.button {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#f4f0f0;
  font-family:modak;
  font-size:30px;
  padding:13px 32px 11px 32px;
  text-decoration:none;
}
.button:hover {
  opacity: 0.95;
}

.button.startButton {
  background-color: #ff7d0b;
}
.button.exitButton {
  background-color: #a20000;
}

#app {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameScreenContainer{
  display: flex;
  justify-content: center;
}

#board-canvas{
  border-radius: 16px;
}

#gameTitle {
  font-size: 80px;
}

#highScore {
  font-size: 80px;
}

#clock {
  font-size: 60px;
  display: inline-block;
  padding-top: 12px;
}
